* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}
.flex {
    display: flex;
    align-items: center;
}

.navigation {
    justify-content: space-between;
    margin: 20px 18px;
}

.text-navigation {
    font-weight: 600;
    font-size: 20.9816px;
    line-height: 29px;
    color: #1e2022;
    margin-left: 6px;
}

.credit-card {
    background-image: url("../assets/image/bg-credit-card.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 24px;
    height: 120px;
    justify-content: center;
    display: flex;
    background-color: black;
    width: 100%;
    max-width: 470px;
    margin: 0px auto;
    border-radius: 12px;
}
.credit-card-inner {
    width: 100%;
}

.saldo-text-credit-card {
    font-weight: 600;
    font-size: 23.05px;
    line-height: 32px;
    color: #1e2022;
}

.name-text-credit-card {
    font-weight: 600;
    font-size: 18.375px;
    line-height: 26px;
    color: #377dff;
}

.container-description {
    justify-content: space-between;
    margin: 0 24px;
}

.barcode-credit-card {
    margin-top: 30px;
}

.btn-container {
    justify-content: center;
    margin: 24px 0 41px 0;
    gap: 17px;
}

.btn-active {
    background: #00c9a7;
    border-radius: 160px;
    display: block;
    padding: 5px 24px;
    color: white;
    border: 1px solid #00c9a7;
    font-weight: 600;
    font-size: 11.8126px;
    line-height: 12px;
    margin-top: 13px;
    margin-right: 13px;
    margin-left: auto;
}

.btn-saldo {
    background-color: #377dff;
    border: 1px solid #377dff;
    border-radius: 4px;
    color: white;
    padding: 8px 11px;
    display: flex;
    align-items: center;
}

.btn-find-job {
    background-color: white;
    color: #377dff;
    border: 1px solid #377dff;
    border-radius: 5px;
    padding: 5px 11px;
    display: flex;
    align-items: center;
}

.account-bank-card {
    width: 90%;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid rgba(231, 234, 243, 0.7);
    box-shadow: 0px 6px 12px rgba(140, 152, 164, 0.075);
    border-radius: 12px;
    padding: 16px 21px;
}

.bank-card-text-heading {
    font-weight: 600;
    font-size: 15.7501px;
    line-height: 22px;
    color: #1e2022;
    margin-bottom: 17px;
}

.bank-card-subtext-heading {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #677788;
    margin: 16px 0;
}

.virtual-card {
    background: #ffffff;
    border: 1px solid #e7eaf3;
    border-radius: 5px 5px 0px 0px;
    padding: 13px 21px;
}

.virtual-card-bottom {
    border-radius: 0px 0px 5px 5px;
    background: #ffffff;
    border: 1px solid #e7eaf3;
    padding: 13px 21px;
}

.virtual-card-container-heading {
    gap: 30px;
    margin-bottom: 10px;
}

.virtual-card-text-heading {
    font-weight: 600;
    font-size: 15.7501px;
    line-height: 22px;
    color: #1e2022;
}

.virtual-card-btn-heading {
    background: #377dff;
    border-radius: 160px;
    border: 1px solid #377dff;
    color: white;
    padding: 5px 12px;
    font-weight: 600;
    font-size: 11.8126px;
    line-height: 12px;
}

.virtual-card-body {
    margin-left: 16px;
}

.virtual-card-text-body {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #1e2022;
}

.virtual-card-subtext-body {
    font-weight: 400;
    font-size: 11.2px;
    line-height: 18px;
    color: #8c98a4;
}

.virtual-card-container-footer {
    text-align: center;
    margin: 8px 0 13px 0;
}

.virtual-card-btn {
    background: #ffffff;
    border: 1px solid #e7eaf3;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #677788;
    padding: 6px;
}

.virtual-card-btn i {
    margin-right: 10px;
}

.card-transaction {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(231, 234, 243, 0.7);
}

.list-transaction {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    justify-content: space-around;
}

.info-transaction {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1e2022;
}

.bank-goals {
    font-weight: 400;
    font-size: 11.2px;
    line-height: 18px;
    color: #8c98a4;
}

.amount-balance-minus {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ed4c78;
}

.amount-balance-plus {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #00c9a7;
}

.alert-transaction {
    font-weight: 400;
    font-size: 11.2px;
    line-height: 18px;
    color: #00c9a7;
    text-align: right;
}

.info-more-transaction {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #377dff;
    text-align: center;
    margin-bottom: 12px;
}

.more-transaction {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #377dff;
    text-align: center;
}
